.board-cont {
  --tile-block-width: 65px;
  --tile-border-width: 5px;
  --peg-border-width: 2px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(9 * var(--tile-block-width) + var(--tile-border-width));
  border-right: var(--tile-border-width) solid #000000;
  border-bottom: var(--tile-border-width) solid #000000;
}

.board-tile {
  width: var(--tile-block-width);
  height: var(--tile-block-width);
  border-top: var(--tile-border-width) solid #000000;
  border-left: var(--tile-border-width) solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-peg {
  width: 75%;
  height: 75%;
  border: var(--peg-border-width) solid #000000;
  border-radius: 100%;
}

.board-peg.selected {
  width: 90%;
  height: 90%;
}
